
 
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #faf7f9, #fcb3d9);
}

.sidebar {
  position: fixed;
  margin: 1vh 2vh;
  background-color: #f7f5c8;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  border-radius: 2em;
  height: 96vh;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 4vw;
  min-width: 45px;
  max-width: 80px;
}

.nav-tabs {
  list-style: none;
  padding: 0 0.3vh 0 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  height: 90vh;
}

.nav-tabs li {
  cursor: pointer;
  font-size: 4vw;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.main-content {
  flex-grow: 1; 
  padding: 20px;
  display: flex; 
  flex-direction: column;
}

.nav-tabs li:hover {
  transform: scale(1.2);
}

.nav-tabs li.selected {
  background-color: #f7f5c8; /* Or another color for the active state */
  border-radius: 50px; /* Makes the background circular */
  padding: 0.5vh 0.5vh 0 0.5vh; /* Adds padding to create the circular effect */
  color: #fff; /* Optional: changes icon color */
  transform: scale(1.2); /* Optional: adds a slight zoom */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
  animation: smoothCircle 0.3s ease-in-out forwards;
}

@keyframes smoothCircle {
  0% {
    transform: scale(0.8);
    opacity: 0.3;
  }
  100% {
    transform: scale(1.2);
    opacity: 1;
  }
}

@media(max-width: 440px){
  .sidebar {
    margin: 1vh 1vh;
    height: 60vh;
    top: 50%;
    transform: translateY(-50%);
  }

  .nav-tabs {
    height: 55vh
  }
  .nav-tabs li.selected {
    padding: 0.5vh;
  }
}



