.introduction-container {
    padding: 20px;
}

.images-container {
    display: flex;
    gap: 20px; 
}

.myheading{
    position: absolute;
    margin: 0 0 10px 0;
    padding: 0;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Times New Roman', Times, serif;
    /* font-style: italic; */
    font-size: 9vh;
    color: #b3025d;
    z-index: 1000;
}

.image-content {
    margin: 20px 0 0 70px;
    padding: 100px 0;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.profile-image {
    width: flex; 
    max-width: 50vh;
    margin-right: 5vh; 
    border-radius: 10px; 
    opacity: 0;
    transition: opacity 1.0s ease-in-out;
}

.description {
    max-width: 500px; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 4vh;
}

.profile-image.loaded {
    opacity: 1;
}