.introduction-container {
    padding: 20px;
}

.images-container {
    display: flex;
    gap: 20px; 
}

.myheading{
    position: absolute;
    margin: 9vh 0 10px 20px;
    /* padding: 0; */
    /* top: 20px; */
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 9vh;
    color: #b3025d;
    z-index: 1000;
    width: flex;

}

.container {
    margin: 100px 0 0 70px;
    /* padding: 50px 0; */
    height: 90vh;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.image {
    width: flex; 
    max-width: 50vh;
    margin-right: 5vh; 
    border-radius: 10px; 
    opacity: 0;
    transition: opacity 1.0s ease-in-out;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);

}

.image-description {
    max-width: 500px; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 4vh;
    color: #b3025d;
}

.image.loaded {
    opacity: 1;
}