.skill-wrapper {
    position: absolute;
    width: calc(90.5vw);
    margin: 10px 0 10px 4.5vw;
    height: 100vh;
}

.skill-backlay {
    position: relative;
    top: 0px;
    width: calc(90.5vw);
    margin: 10px 0 10px 4.5vw;
    height: 100vh;
    background-color: #ffe4c4;
    opacity: 0.2;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.skill-container {
    position: relative;
    width: 100%; /* Match the skill-wrapper width */
    /* padding-top: 20px; */
    z-index: 1;
}

.skill-heading {
    margin-bottom: 2vh;
    font-family: 'Dongle';
    line-height: 1.0;
    font-size: 12vh;
    color: #b3025d;
    text-align: center;
}

.skill-description {
    font-family: 'Dongle';
    line-height: 1.0;
    font-size: 4.5vh;
    text-align: center;
    color: #b3025d;
    margin: 20px 3vw 0 3vw;
}


.apps {
    width: 100%;
    height: 60%;
    padding: 11vh 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 5vw;
}

.skill-item {
    display: flex;
    align-items: center;
}

.skill-icon {
    width: 100px; /* Adjust icon size */
    height: 100px; /* Adjust icon size */
}

.apps li:hover {
    transform: scale(1.2);
}

@media(max-width: 440px){
    .skill-wrapper {
        margin-left: 45px;
        width: calc(100vw - 90px);
    }

    .skill-container{
        padding-top: 3.5vh;
    }

    .skill-backlay {
        margin-left: 45px;
        width: calc(100vw - 90px);
    }

    .skill-heading {
        margin: 0 1vw;
        font-size: 7vh;
    }

    .skill-description {
        font-size: 3vh;
    }

    .apps{
        width: 90%;
        padding: 5vh 2vh;
        gap: 3vh;
    }

    .skill-icon {
        width: 80px; /* Adjust icon size */
        height: 80px; /* Adjust icon size */
    }
}
